.keyRollContainer {
    background: rgb(69, 69, 70);
    float: left;
    width: 67px;
}

.scrollContainer
{
    overflow-x: hidden;
    overflow-y: hidden; 
    float: left;
}


.sequencerContainer
 {
    
    height: 100%;
    
}


#sequencer {
    background: rgb(65, 64, 64);
    border-bottom: 1px solid rgb(41, 41, 41);
    height: 100%;
  /*  min-height: 400px;
    max-height: 571px;
    */overflow-y: hide;  
    display: grid;
    grid-template-columns: 67px auto;
}


.cellContainer {
    float: left;
}


.drumname,
 .drumnameDummy {
    background: rgb(34, 34, 34);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    float: left;
    height: var(--cell-height);
    width: 65px;
    border: 1px solid var(--regular-line-color);
    border-right: 2px solid var(--strong-line-color);
    border-top: 0px;
    border-left: 0px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.keyRow {
    height: 11px;
    padding: 0;
    float: left;
    margin: 0;
}

.timeLineRow, .timeLineBar, .timeLineCell, .timeLineCellActive, .timeLineTickNote, .timeLineTickHalf, .timeLineRuler, .timeLinePicker, .timeLinePickerCell, .timeLinePickerCellActive {
    color: white;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
    height: var(--timeline-height);
    background: var(--timeline-background);
    padding: 0;
    float: left;
    margin: 0;
    border: 0;
}

.timeLineRuler, .timeLinePicker {
    height: 10px;
}

.timeLineBar {
    position: relative;      
}

.timeLineCell,
.timeLinePickerCell {
    height: 10px;
    position: relative;
}


.timeLineCellActive,
.timeLinePickerCellActive {
    position: relative;
    background: rgb(0, 248, 83);  
}

.timeLineTickNote, .timeLineTickHalf {
    background: none;
    position: relative;
    height: 4px;
    border-right: 1px solid white; 
}

.timeLineTickHalf {
    height: 2px;
}


.sequencerCell,
.sequencerCellActive {
    
    fill: #363636;

}

.sequencerCellActive,
.sequencerCellActiveAlien {
    fill: #5feb76;
}

.sequencerCellPassive {

    fill: none;

}

.sequencerFillerCell {
    position: relative;
    background: rgb(231, 0, 0);
    margin: 0;
    padding: 0px;
    border: 0px;
    float: left;
}

.whitenote {
    position: relative;
    height: 100%;
    width: 51px;
    background: white;
    float: left;
    border-right: 1px solid black;
}

.blacknote {
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    background: rgb(36, 36, 36);
    left: 68%;
}

.rollWhitenote, .rollBlacknote {
    background: white;
    border: 1px solid var(--regular-line-color);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bolder;
    text-align: right;
    height: var(--cell-height);
    width: 65px;
    border-right: 2px solid var(--strong-line-color);
    float: left;
    padding: 0;
    margin: 0;
    border-top: 0px;
    border-left: 0px;
}

.rollBlacknote {
    background: rgb(36, 36, 36);
}

.keyRollFiller {
    background: var(--timeline-background);
    height: var(--timeline-height);
    width: 66px;
    border-right: 1px solid white;
}

.sequencerAutomationSettings {
    background: var(--timeline-background);
    float: none;
    width: 66px;
    border-right: 1px solid white;
}

.automationContainer {
    
    border-bottom: 1px solid rgb(16, 16, 16);
    border-top: 1px solid rgb(16, 16, 16);
    display: grid;
    grid-template-columns: 67px auto;
    

}

.sequencerAutomationTitle {

    display: flex;
    
    width: 66px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    align-items: center;
    justify-content: space-evenly;


}

.showAutomationIcon {
    background-color: rgb(69, 69, 70);
    display: flex;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    justify-content: center;

}

.showAutomationIcon:hover {

    background-color: rgb(172, 172, 207);
}

.sequencerAutomationParameters {

    width: 100%;
    height: 100px;
    background-color: rgb(30, 255, 0);
    display: none;
}

.sequencerAutomationCells {
    overflow-x: scroll;
    overflow-y: hidden;
}

.sequencerAutomationCellsContentHidden {
    position: relative;
    height: 0;
    
}

.sequencerAutomationCellsContent {
    height: 110px;
    position: relative;
}

.sequencerAutomationCellsSpacer {

    height: 100px;
}

.sequencerAutomationSVGs {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

}

.sequencerCellResize {

    cursor: ew-resize;

}
